.circle {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 100%;
    border: 3px #2b4d66 solid;
}

.squares {
    position: absolute;
    top: 10%;
    left: 13%;
    display: block;
}

.square {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    background-color: burlywood;
    border: 3px #2b4d66 solid;
}

.bar {
    position: absolute;
    top: 5%;
    left: 13%;
    width: 5px;
    height: 30px;
    display: inline-block;
    border: 3px #401b22 solid;
    background-color: #401b22;
}